<footer>
  <section id="footer" >
    <div class="footer-container container-fluid">
      <p class="copy-right text-center text-md-center">
        Projects Management System ©
        <br>
        2020  
      </p>
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
    </div>
  </section>
</footer>

</html>