<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management System</title>

    <link href="/../stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/../stylesheets/style.css" rel="stylesheet" />
    <!-- Favicons -->
    <link rel="icon" href="/../images/favicon.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>

<body>