<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management System</title>

    <link href="/../stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="/../stylesheets/style.css" rel="stylesheet" />
    <!-- Favicons -->
    <link rel="icon" href="/../images/favicon.ico">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark">

    <a class="navbar-brand" href="#"><img class="mb-4" src="/images/faviconwhite.ico" alt="" width="42" height="42">
      Project Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%=tab=='projects' ? 'active' : ''%>" >
          <a class="nav-link" href="/projects">Projects </a>
        </li>
        <li class="nav-item <%=tab=='profile' ? 'active' : ''%>" >
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item <%=tab=='users' ? 'active' : ''%>" <%=status =="admin" ? " " : "hidden" %> >
          <a class="nav-link" href="/users">user</a>
        </li>
  
  
      </ul>
  
      <a href="/logout" class="btn btn-logout btn-lg btn-danger my-2 my-sm-0"> logout</a>
  
  
    </div>
  </nav>